{% extends "base.html.j2" %}
{% from "_macros.html.j2" import materialize_submit %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center {{ color.primary }}-text">Falcons Booking System</h1>
      <div class="divider"></div>
    <div class="row">
      <h4 class="header col s12 light left">Next session:</h4>
    </div>

    <div class="row">
      {% if current_user.is_authenticated %}
        {% if next_session %}
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card hoverable">
              <div class="card-content">
                {# TODO: add session type to models #}
                <span class="card-title">Open Session</span>
                <p>{{ next_session.date }}</p>
                <p>{{ next_session.location }}</p>
                <p>£{{ next_session.cost }}</p>
              </div>
              <div class="card-action">
                <form class="next-session" class="" action="/book" method="post" novalidate>
                  {{ form.hidden_tag() }}
                  {{ form.session_id() }}
                  {% if current_user.is_booked(next_session) %}
                    You are booked in!
                    {% if next_session.can_cancel(current_user) %}
                      {{ materialize_submit(form.cancel, icon="cancel", class_="right grey darken-2") }}
                    {% else %}
                      {{ materialize_submit(form.cancel, icon="cancel", class_="right disabled") }}                  
                    {% endif %}
                  {% else %}
                    {{next_session.spaces }} spaces remaining
                    {% if next_session.can_book(current_user) %}
                      {{ materialize_submit(form.submit, icon="check_circle", class_="right red darken-2") }} 
                    {% else %}
                      {{ materialize_submit(form.submit, icon="check_circle", class_="right disabled") }} 
                    {% endif %}
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        {% else %}
          <p>No upcoming sessions, check back soon!</p>
        {% endif %}
      {% else %}
        <a href="{{ url_for_security('login') }}" class="btn-large waves-effect waves-light {{ color.primary }}">Login</a> 
        <a href="{{ url_for_security('register') }}" class="btn-large waves-effect waves-light {{ color.primary }}">Register</a>  
      {% endif %}
    </div>
    <br><br>

  </div>
</div>
{% endblock content %}


{# <form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.email.label }}: {{ form.email(size=32) }}
    {% for error in form.email.errors %}
      <span>[{{ error }}]</span>
    {% endfor %}
  </p>
  {% if new_user %}
    <p>Additional information required for first booking:</p>
    <p>
      {{ form.first_name.label }}: {{ form.first_name }}
      {{ form.surname.label }}: {{ form.surname }}
    </p>
  {% endif %}
  <p>{{ form.submit() }}</p>
</form> #}






<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>