{% extends "base.html.j2" %}
{% block content %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="{{ color.primary }}-text">{{ current_user.first_name }} {{ current_user.surname }}</h1>
      </div>
      <div class="col s12">
        {% for role in current_user.roles %}
          <span class="btn-flat btn-small grey darken-3 white-text">{{ role.display_name }}</span>
        {% endfor %}  
      </div>
    </div>
    <div class="right">
    </div>
    <div class="divider"></div>
    <div class="section row">
      <div class="col s12">
        <big><strong class="red-text">Credit: </strong></big>£{{ current_user.credit }}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
